<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jacques Berger - enseignant, développeur et musicien</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">jberger.org</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cours <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/inf1256/">INF1256 - Informatique pour les sciences de la gestion</a></li>
            <li><a href="/inf2015/">INF2015 - Développement de logiciels dans un environnement Agile</a></li>
            <li><a href="/inf2005/">INF2005 - Programmation web</a></li>
            <li><a href="/inf3005/">INF3005 - Programmation web avancée</a></li>
            <li><a href="/inf3135/">INF3135 - Construction et maintenance de logiciels</a></li>
            <li><a href="/inf3172/">INF3172 - Principes des systèmes d'exploitation</a></li>
            <li><a href="/inf3180/">INF3180 - Fichiers et bases de données</a></li>
            <li><a href="/inf4150/">INF4150 - Interfaces personnes-machines</a></li>
            <li><a href="/inf4170/">INF4170 - Architecture des ordinateurs</a></li>
            <li><a href="/inf4375/">INF4375 - Paradigmes des échances Internet</a></li>
            <li><a href="/inf5153/">INF5153 - Génie logiciel : conception</a></li>
            <li><a href="/inm5151/">INM5151 - Projet d'analyse et de modélisation</a></li>
            <li><a href="/mgl7460/">MGL7460 - Réalisation et maintenance des logiciels</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="navbar-header">
            <a class="navbar-brand" href="https://twitter.com/jacquesberger">
              <img alt="Twitter Logo" src="/img/Twitter_Logo_White_On_Blue.png" style="width:auto; height:auto; max-width:24px;">
            </a>
          </div>
        </li>
        <li>
          <div class="navbar-header">
            <a class="navbar-brand" href="https://www.facebook.com/jacquesbergerTI/">
              <img alt="Facebook Logo" src="/img/FB-f-Logo__blue_512.png" style="width:auto; height:auto; max-width:24px;">
            </a>
          </div>
        </li>
        <li>
          <div class="navbar-header">
            <a class="navbar-brand" href="https://ca.linkedin.com/in/jacquesberger">
              <img alt="LinkedIn Logo" src="/img/In-2C-128px-TM.png" style="width:auto; height:auto; max-width:24px;">
            </a>
          </div>
        </li>
        <li>
          <div class="navbar-header">
            <a class="navbar-brand" href="https://www.instagram.com/jacquesberger/">
              <img alt="Instagram Logo" src="/img/glyph-logo_May2016.png" style="width:auto; height:auto; max-width:24px;">
            </a>
          </div>
        </li>
        <li>
          <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/jacquesberger">
              <img alt="Github Logo" src="/img/GitHub-Mark-120px-plus.png" style="width:auto; height:auto; max-width:24px;">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 text-center page-header">
          <h1>Jacques Berger</h1>
          <p>Mes pensées sur le développement de logiciels et l'enseignement de l'informatique.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 col-sm-offset-1">
          <div class="post"><p class="h3">L'enseignement ou le développement?</p><p class="text-muted small">Article publié le 24 avril 2015</p><p>J'ai commencé ma carrière de développeur bien avant ma carrière d'enseignant.
            Le démarrage d'une carrière d'enseignant prend un certain temps, il
            faut être très patient. Au début, je n'enseignais qu'un seul cours
            par session, et pas à toutes les sessions. À cette époque,
            je travaillais comme développeur à temps complet et j'enseignais le
            soir (ou sur l'heure du midi).</p><p>Ça m'a pris environ 3 ans pour finalement avoir la chance d'enseigner
            beaucoup plus, c'est-à-dire de 2 à 3 cours stables par session.
            Le terme stable est discutable étant donné que je suis contractuel.</p><p>À partir de ce moment, j'ai commencé à m'interroger à savoir si je
            préfère l'enseignement au développement de logiciels et si je devrais
            quitter le développement pour ne faire que de l'enseignement. Plus
            tard, j'ai aussi eu la réflexion inverse, c'est-à-dire de quitter
            l'enseignement pour me consacrer à ma première passion, le développement
            de logiciels.</p><p>J'ai essayé les deux! Avant d'enseigner, je ne faisais que du
            développement. Il y a 4 ans, un événement a fait en sorte que j'ai
            voulu libérer mon horaire le plus possible et j'ai quitté temporairement
            le développement pour ne faire que de l'enseignement pendant une année
            complète. J'ai aimé les deux expériences, donc ça ne m'a pas beaucoup
            aidé à faire un choix.</p><p>À force de réfléchir et d'expérimenter, j'en suis venu à la conclusion
            que j'avais besoin des deux en même temps! Je n'ai pas envie de choisir
            et d'en sacrifier un! Je crois sincèrement que l'enseignement fait de
            moi un meilleur développeur, car ça m'oblige à rester éveillé aux
            nouveautés du marché. Je crois également que le développement fait de
            moi un meilleur enseignant, car ça m'alimente en anecdotes et ça me
            donne l'occasion de réfléchir sur les applications des notions que
            j'enseigne. Bref, les deux se complètent à merveille!</p><p>Il est impensable de faire les deux à temps plein, pour plusieurs
            raisons... Premièrement, l'épuisement professionnel n'est jamais
            quelque chose de bien. Deuxièmement, je n'ai pas l'intention d'être un
            fantôme dans ma famille, je dois donc libérer du temps familial. Le
            plus possible.</p><p>La meilleure solution que j'ai trouvé jusqu'à date, c'est d'enseigner
            à temps plein, soit environ 8 cours par année, et de faire du
            développement de logiciels à temps partiel, soit 3 jours par semaine.
            Je dois dire par contre que j'aimerais avoir plus de temps pour développer,
            mais je ne peux pas tout faire... C'est un problème sans solution.
            Ça me convient pour l'instant.</p></div><hr><div class="post"><p class="h3">Comment je me prépare à une entrevue...</p><p class="text-muted small">Article publié le 22 janvier 2013</p><p>Plusieurs personnes croient qu'il n'est pas nécessaire de se
	              préparer avant une entrevue d'emploi, que l'employeur doit vous
	              voir au naturel, car c'est ainsi qu'il vous verra travailler.
	              Ce n'est pas faux! Mais si on considère que les entreprises
	              veulent des employés méthodiques, rigoureux et travaillants,
	              un minimum de préparation est de mise.</p><p>Je ne crois pas détenir la vérité absolue, ni même la meilleure
	              façon de se préparer pour une entrevue. Je vais simplement
	              décrire comment je me prépare pour une telle rencontre dans
	              le but d'aider ceux qui ne savent pas comment s'y prendre.
	              Ça fonctionne bien pour moi, peut-être que ça ne fonctionnera
	              pas pour vous. Aucune garantie.</p><p>Vous avez déjà un premier pas de fait. Vous avez envoyé votre
	              CV et il était suffisamment intéressant pour vous permettre
	              de décrocher une entrevue. Célébration! OK, mais pas trop
	              longtemps, on a du travail! Je prends quand même une petite
	              Heineken pour célébrer cette petite victoire.</p><p>La première étape est d'apprendre à connaître l'entreprise. Ah oui!
	              Des fois, on envoie nos CV un peu n'importe où, sans trop
	              regarder, alors il est possible qu'une de ces entreprises vous
	              contacte, même si vous ne la connaissez pas du tout. Bref,
	              que vous la connaissiez ou non, prenez le temps d'aller sur le
	              site web de la compagnie et d'y lire à peu près tout ce que vous
	              y trouverez. Ensuite, vous aurez le plaisir de dire à l'entrevue
	              «Ah oui, j'ai lu ça sur votre site web!»</p><p>Dans certains cas, c'est la seule chose que vous pourrez faire,
	              lire le contenu du site web. Sinon, vous pouvez faire quelques
	              recherches supplémentaires pour trouver des articles qui parlent
	              de cette entreprise. Si l'organisation vient tout juste de gagner
	              un prix quelconque, en glisser un mot à l'entrevue montrera que
	              vous êtes bien renseigné.</p><p>Si vous avez la chance de connaître quelqu'un qui travaille
	              pour cette entreprise, c'est merveilleux! Faites aller votre
	              réseau de contacts. Contactez cette personne et posez-lui des
	              questions sur l'ambiance de travail, sur ses collègues et sur
	              les outils utilisés dans l'entreprise (langages de programmation,
	              frameworks, etc.). Une vision de l'intérieur, c'est toujours
	              bon.</p><p>Si votre contact vous parle d'outils que vous ne connaissez pas,
	              c'est le moment idéal de vous documenter. Lisez rapidement sur
	              ces outils. Si vous avez le temps, essayez-les! Téléchargez des
	              versions gratuites ou d'évaluation et faites une petite
	              preuve de concept avec ces outils. C'est le meilleur moyen d'en
	              saisir l'essence rapidement. Ensuite, durant l'entrevue, si on
	              vous demande si vous connaissez un outil, vous
	              pourrez dire que vous ne connaissez pas l'outil en profondeur 
	              mais que vous l'avez essayé il y a quelques jours en vous 
	              préparant à l'entrevue. Décrivez la preuve de concept que vous
	              avez faite. Ils seront surpris que vous ayez pris le temps de
	              faire cette recherche.</p><p>C'est beaucoup de travail tout ça? Oui, évidemment. Je crois
	              fermement que les efforts finissent toujours par payer. Si c'est
	              trop de travail pour vous, ou que vous n'avez pas cette discipline,
	              ne le faites pas. Vous finirez quand même par trouver du
	              travail. Par contre, si vous voulez vraiment décrocher cet
	              emploi, n'ayez pas peur de mettre des efforts. Et n'ayez pas
	              peur d'échouer. C'est en échouant qu'on apprend le plus.</p></div><hr><div class="post"><p class="h3">25 candidats pour un poste d'HTML</p><p class="text-muted small">Article publié le 14 octobre 2012</p><p>Une petite anecdote que j'ai vécue lorsque j'ai terminé mon
			      cégep et qui me fait toujours rire, même aujourd'hui.</p><p>En 2003, le marché du développement de logiciels n'était pas
			      aussi intéressant qu'aujourd'hui à Montréal. À l'époque, il
			      y avait plus d'offre que de demande et les emplois étaient plus
			      rares. Du moins, les bons emplois étaient plus rares.</p><p>Fraîchement sorti du cégep avec mon DEC en informatique de
			      gestion en poche, je me suis lancé dans la recherche d'un
			      emploi à Montréal. Durant les premiers mois de ma recherche
			      d'emploi, j'ai passé plusieurs entrevues dans diverses entreprises.
			      L'une de ces entrevues m'a frappé plus que les autres.</p><p>Il s'agissait d'un poste bien peu intéressant, pour une
			      entreprise qui développait un logiciel comptable. La tâche
			      principal de ce poste était de prendre un formulaire papier du
			      gouvernement et d'écrire un document HTML qui reproduit le plus
			      fidèlement possible le formulaire papier original. En gros, du
			      HTML et du CSS assez élémentaire. L'entreprise offrait 
			      25,000$ par année pour ce poste et exigeait
			      à l'employé d'être présent au bureau au moins 38 heures par
			      semaine.</p><p>Le plus étonnant dans tout ça, ce n'est pas le faible salaire
			      ou les tâches peu intéressantes, c'est définitivement la
			      méthode de recrutement de l'entreprise. Mon entrevue a durée
			      près de deux heures. J'ai eu droit à une entrevue complète
			      en français et en anglais, à un test technique sur le HTML et
			      finalement à un test de personnalité. Finalement, le recruteur
			      m'a confié qu'il devait rencontrer 25 candidats au total pour
			      ce poste.</p><p>Évidemment, je n'ai pas eu l'emploi. Par contre, encore
			      aujourd'hui, je suis étonné par cette expérience. Une entrevue
			      de 2 heures, bilingue, avec test technique et test de 
			      personnalité, multipliée par 25 candidats, pour un poste d'HTML
			      élémentaire! Les coûts de recrutement de cette entreprise
			      doivent être incroyables.</p></div>        </div>
        <div class="col-sm-3">
          <a class="twitter-timeline" href="https://twitter.com/jacquesberger" data-widget-id="346830975084421121">Tweets de @jacquesberger</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
      <div class="row" style="margin-top:3em">
        <div class="col-xs-12 text-center">
          <p>&copy; Jacques Berger <strong>2016</strong></p>
        </div>
      </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
